{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Forum</title>
    {% block script %}
    {% endblock %}
    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>

<body>


{% include 'header.html' %}

<div class="row">
    <div id="shadow" class="col-md-10 col-md-offset-1" style="margin-top: 10px">

        {% block content %}

            <h2><i class="fa fa-info fa-2x"> Проэкт форум, django + bootstrap </i></h2>

            <table class="table forum table-striped">
                <thead>
                <tr>
                    <th>Темы</th>
                    <th class="cell-stat text-center">Сообщений</th>
                    <th class="cell-stat text-center">Автор</th>
                    <th class="cell-stat-2x hidden-xs hidden-sm text-right">Последнее сообщение</th>
                </tr>
                </thead>

                <tbody>
                {% for topic in topics %}
                    <tr>
                        <td>
                            <h4>
                                {% if topic.message_set.count >= 10 %}
                                <i data-toggle="tooltip" data-placement="bottom" title="Hot" class="fa fa-fire" style="color: red; cursor: help"></i>
                                {% endif %}

                                <a href="{{ topic.get_absolute_url }}">{{ topic.name }}</a>
                            </h4>
                        </td>

                        <td class="text-center">{{ topic.message_set.count }}</td>

                        <td class="text-center">
                            Автор: {{ topic.author }}
                            <br>
                            <small><i class="fa fa-clock-o"></i> {{ topic.date }}</small>
                        </td>

                        {% if topic.message_set.count  %}
                            <td class="hidden-xs hidden-sm text-right">
                                Автор: {{ topic.message_set.last.author }}
                                <br>
                                <small><i class="fa fa-clock-o"></i> {{ topic.message_set.last.date }}</small>
                            </td>
                        {% else %}
                            <td class="hidden-xs hidden-sm text-right">Нет сообщений</td>
                        {% endif %}
                    </tr>
                {% endfor %}

                <tr>
                    <td><a href="{% url 'add' %}"><i class="fa fa-plus"></i> Создать новую тему</a></td>
                    <td></td><td></td>
                    <td class="hidden-xs hidden-sm"></td>
                </tr>

                </tbody>
            </table>
        {% endblock %}

    </div>
</div>
</body>
</html>