{% extends 'index.html' %}

{% block script %}
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js" defer></script>
{% endblock %}

{% block content %}
    <h1>Topic: {{ topic.name }}</h1>

    {% for message in messages %}
        <div class="media">
            <div class="media-left">
                <i class="fa fa-user fa-5x"></i>
            </div>
            <div class="media-body">
                <h3 class="media-heading text-primary">{{ message.author }}</h3>

                {% if message.colorize %}

                    {{ message.colorize.0|linebreaks}}
                    <pre class="prettyprint">{{ message.colorize.1}}</pre>
                    {{ message.colorize.2|linebreaks}}

                {% else %}
                {{ message|linebreaks }}
                {% endif %}

            </div>

            <h6 class="text-muted text-right">
                {{ message.date }}  <span class="badge badge-inverse">Рейтинг: {{ message.rate }}</span>

            </h6>

            <div class="btn-toolbar pull-right">
                <div class="btn-group">
                    <a href="#"><i class="fa fa-thumbs-up"> Понравилось </i></a>
                    <a href="#"><i class="fa fa-thumbs-down"> Не понравилось </i></a>
                    <a href="#"><i class="fa fa-star"> Добавить в избарнные </i></a>
                </div>
            </div>
            <hr>
        </div>

    {% endfor %}

    <div class="form-group">
        <form method="post">
            {% csrf_token %}
            {{ message_form.text }}
            <input type="submit" class="btn btn-warning" value="Написать" style="position: relative; bottom: 40px; left: 10px"/>
        </form>
    </div>

{% endblock %}

