{% extends 'log_in.html' %}
{% load bootstrap %}

{% block form %}

    <form class="form-horizontal" method="post">
        <h2 class="form-signup-heading">Пожалуйста, введите Информацию</h2>
        {% csrf_token %}
        {{ form|bootstrap}}

        <div class="form-group">
            <button class="btn btn-lg btn-warning btn-block" type="submit" style="margin-top: 10px">Зарегестрироваться</button>
        </div>
    </form>

    <style>

.form-group {
    margin-bottom: -4px;
}
    </style>

{% endblock %}