{% load  staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <script src="{% static 'js/jquery.js' %}"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <script src="{% static 'js/landing.js' %}"></script>

    {% block html_head %}
    {% endblock %}

</head>
<body>

{% include 'landing/header.html' %}

{% block content %}
    <div id="site-desc-full">
        <div id="page-description" class="text-md-center">
                <h1>Itea Forum Project</h1>
                <h6>communicate with no limits</h6>
        </div>
    </div>
    <div class="row" >

        <div class="container" >
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Main</th>
                    <th></th>
                    <th class="hidden-md-down"></th>
                    <th class="text-right"><i class="fa fa-minus-circle toggle-topic"></i></th>
                </tr>
                </thead>

                <tbody>

                <tr>
                    <td class="col-md-4">
                        <div class="media">
                            <div class="media-left media-middle">
                                <i class="fa fa-comment-o fa-2x"></i>
                            </div>

                            <div class="media-body">
                                <h4 class="media-heading">Media heading1 <!-- Message Title --></h4>
                                <!--Message body-->
                                Media booody boood6y

                                <br> <em>Moderator: asdj</em>
                            </div>
                        </div>
                    </td>

                    <td><i class="fa fa-rss"></i></td>
                    <td>
                        6
                        <span class="text-muted">topics</span>
                        <br>42
                        <span class="text-muted">messages</span>
                    </td>

                    <td class="col-md-5 hidden-md-down">

                        <div class="media">
                            <div class="media-left">
                                <a href="#"><img src="http://gramziu.pl/phpBB/download/file.php?avatar=2_1424820906.png" alt="" class="img-rounded"></a>
                            </div>
                            <div class="media-body">
                                Re: Popular topic<br>
                                <span class="text-muted">by: </span>User <br>
                                07 Dec 2015, 20:03
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <div class="media">
                            <div class="media-left media-middle">
                                <i class="fa fa-comment-o fa-2x"></i>
                            </div>

                            <div class="media-body">
                                <h4 class="media-heading">Media heading1 <!-- Message Title --></h4>
                                <!--Message body-->
                                Media booody boood6y

                                <br> <em>Moderator: asdj</em>
                            </div>
                        </div>
                    </td>

                    <td><i class="fa fa-rss"></i></td>
                    <td>
                        6
                        <span class="text-muted">topics</span>
                        <br>42
                        <span class="text-muted">messages</span>
                    </td>

                    <td class="col-md-5 hidden-md-down">

                        <div class="media">
                            <div class="media-left">
                                <a href="#"><img src="http://gramziu.pl/phpBB/download/file.php?avatar=2_1424820906.png" alt="" class="img-rounded"></a>
                            </div>
                            <div class="media-body">
                                Re: Popular topic<br>
                                <span class="text-muted">by: </span>User <br>
                                07 Dec 2015, 20:03
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <div class="media">
                            <div class="media-left media-middle">
                                <i class="fa fa-comment-o fa-2x"></i>
                            </div>

                            <div class="media-body">
                                <h4 class="media-heading">Media heading1 <!-- Message Title --></h4>
                                <!--Message body-->
                                Media booody boood6y

                                <br> <em>Moderator: asdj</em>
                            </div>
                        </div>
                    </td>

                    <td><i class="fa fa-rss"></i></td>
                    <td>
                        6
                        <span class="text-muted">topics</span>
                        <br>42
                        <span class="text-muted">messages</span>
                    </td>

                    <td class="col-md-5 hidden-md-down">

                        <div class="media">
                            <div class="media-left">
                                <a href="#"><img src="http://gramziu.pl/phpBB/download/file.php?avatar=2_1424820906.png" alt="" class="img-rounded"></a>
                            </div>
                            <div class="media-body">
                                Re: Popular topic<br>
                                <span class="text-muted">by: </span>User <br>
                                07 Dec 2015, 20:03
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <div class="media">
                            <div class="media-left media-middle">
                                <i class="fa fa-comment-o fa-2x"></i>
                            </div>

                            <div class="media-body">
                                <h4 class="media-heading">Media heading1 <!-- Message Title --></h4>
                                <!--Message body-->
                                Media booody boood6y

                                <br> <em>Moderator: asdj</em>
                            </div>
                        </div>
                    </td>

                    <td><i class="fa fa-rss"></i></td>
                    <td>
                        6
                        <span class="text-muted">topics</span>
                        <br>42
                        <span class="text-muted">messages</span>
                    </td>

                    <td class="col-md-5 hidden-md-down">

                        <div class="media">
                            <div class="media-left">
                                <a href="#"><img src="http://gramziu.pl/phpBB/download/file.php?avatar=2_1424820906.png" alt="" class="img-rounded"></a>
                            </div>
                            <div class="media-body">
                                Re: Popular topic<br>
                                <span class="text-muted">by: </span>User <br>
                                07 Dec 2015, 20:03
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}

{% include 'landing/back_to_top_btn.html' %}
{#{% include 'landing/footer.html' %}#}

</body>
</html>