{% extends 'landing/landing.html' %}

{% block html_head %}

<style>
#header{
background: #1976D2;
}
</style>

{% endblock %}


{% block content %}

    <div id="subheader">
        <div class="row" style="background: #2C3940; padding: 50px 0">

            <div class="container" style="color: #DBDBDB;">
                <h2 class="pull-left" style=" font-weight: 300; font-family:Sans">{% block topic_header %}Section Name{% endblock %}</h2>
                <button class="btn btn-primary pull-right" style="margin-top: 23px"><i class="fa fa-pencil">{% block topic_button %} Add new topic{% endblock %}</i></button>
            </div>

        </div>

    </div>
{% block topic %}
    <div class="row" >

    <div class="col-md-8 col-md-offset-1" >
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Topics: </th>
                <th></th>
                <th></th>
                <th class="hidden-md-down"></th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            {% for topic in topics %}
            <tr>
                <td class="col-md-1">
                    <i class="fa fa-comment-o fa-3x"></i>
                </td>
                <td class="col-md-3">
                    <h4>{{ topic.name }}
                        <br>
                        <small>
                            {{ topic.message_set.last.text|truncatechars:80 }}
{#                            make a description layer#}
                        </small>
                    </h4>
                </td>

                <td><i class="fa fa-rss"></i></td>

                <td>
                    <br>{{ topic.message_set.count }}
                    <span class="text-muted">messages</span>
                </td>

                <td class="col-md-5 hidden-md-down">

                    <div class="media">
                        {{ topic.message_set.last.name }}<br>
                        <span class="text-muted">by: </span>{{ topic.message_set.last.author }}<br>
                        {{ topic.message_set.last.date }}
                    </div>
                </td>

            </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
    <div class="col-md-1" style="margin-top: 25px">
        <i class="fa fa-filter"></i>
        <i class="fa fa-search" style="margin-left: 15px"></i>


    </div>
</div>




{% endblock %}