{% load  staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <script src="{% static 'js/jquery.js' %}"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">

    {% block html_head %}
        <script src="{% static 'js/landing.js' %}"></script>
    {% endblock %}

</head>
<body>

{% include 'landing/header.html' %}

{% block content %}
<div id="site-desc-full">
    <div id="page-description" class="text-md-center">
			<h1>Itea Forum Project</h1>
			<h6>communicate with no limits</h6>
    </div>
</div>

<div class="row" >

    <div class="col-md-8 col-md-offset-1" >
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Main</th>
                <th></th>
                <th class="hidden-md-down"></th>
                <th class="text-right"><i class="fa fa-minus-circle toggle-topic"></i></th>
            </tr>
            </thead>

            <tbody>

            <tr>
                <td class="col-md-4">
                    <div class="media">
                        <div class="media-left media-middle">
                            <i class="fa fa-comment-o fa-2x"></i>
                        </div>

                        <div class="media-body">
                            <h4 class="media-heading">Media heading1 <!-- Message Title --></h4>
                            <!--Message body-->
                            Media booody boood6y

                            <br> <em>Moderator: asdj</em>
                        </div>
                    </div>
                </td>

                <td><i class="fa fa-rss"></i></td>
                <td>
                    6
                    <span class="text-muted">topics</span>
                    <br>42
                    <span class="text-muted">messages</span>
                </td>

                <td class="col-md-5 hidden-md-down">

                    <div class="media">
                        <div class="media-left">
                            <a href="#"><img src="http://gramziu.pl/phpBB/download/file.php?avatar=2_1424820906.png" alt="" class="img-rounded"></a>
                        </div>
                        <div class="media-body">
                            Re: Popular topic<br>
                            <span class="text-muted">by: </span>User <br>
                            07 Dec 2015, 20:03
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <div class="media">
                        <div class="media-left media-middle">
                            <i class="fa fa-comment-o fa-2x"></i>
                        </div>

                        <div class="media-body">
                            <h4 class="media-heading">Media heading1 <!-- Message Title --></h4>
                            <!--Message body-->
                            Media booody boood6y

                            <br> <em>Moderator: asdj</em>
                        </div>
                    </div>
                </td>

                <td><i class="fa fa-rss"></i></td>
                <td>
                    6
                    <span class="text-muted">topics</span>
                    <br>42
                    <span class="text-muted">messages</span>
                </td>

                <td class="col-md-5 hidden-md-down">

                    <div class="media">
                        <div class="media-left">
                            <a href="#"><img src="http://gramziu.pl/phpBB/download/file.php?avatar=2_1424820906.png" alt="" class="img-rounded"></a>
                        </div>
                        <div class="media-body">
                            Re: Popular topic<br>
                            <span class="text-muted">by: </span>User <br>
                            07 Dec 2015, 20:03
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <div class="media">
                        <div class="media-left media-middle">
                            <i class="fa fa-comment-o fa-2x"></i>
                        </div>

                        <div class="media-body">
                            <h4 class="media-heading">Media heading1 <!-- Message Title --></h4>
                            <!--Message body-->
                            Media booody boood6y

                            <br> <em>Moderator: asdj</em>
                        </div>
                    </div>
                </td>

                <td><i class="fa fa-rss"></i></td>
                <td>
                    6
                    <span class="text-muted">topics</span>
                    <br>42
                    <span class="text-muted">messages</span>
                </td>

                <td class="col-md-5 hidden-md-down">

                    <div class="media">
                        <div class="media-left">
                            <a href="#"><img src="http://gramziu.pl/phpBB/download/file.php?avatar=2_1424820906.png" alt="" class="img-rounded"></a>
                        </div>
                        <div class="media-body">
                            Re: Popular topic<br>
                            <span class="text-muted">by: </span>User <br>
                            07 Dec 2015, 20:03
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <div class="media">
                        <div class="media-left media-middle">
                            <i class="fa fa-comment-o fa-2x"></i>
                        </div>

                        <div class="media-body">
                            <h4 class="media-heading">Media heading1 <!-- Message Title --></h4>
                            <!--Message body-->
                            Media booody boood6y

                            <br> <em>Moderator: asdj</em>
                        </div>
                    </div>
                </td>

                <td><i class="fa fa-rss"></i></td>
                <td>
                    6
                    <span class="text-muted">topics</span>
                    <br>42
                    <span class="text-muted">messages</span>
                </td>

                <td class="col-md-5 hidden-md-down">

                    <div class="media">
                        <div class="media-left">
                            <a href="#"><img src="http://gramziu.pl/phpBB/download/file.php?avatar=2_1424820906.png" alt="" class="img-rounded"></a>
                        </div>
                        <div class="media-body">
                            Re: Popular topic<br>
                            <span class="text-muted">by: </span>User <br>
                            07 Dec 2015, 20:03
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row" >

    <div class="col-md-8 col-md-offset-1" >
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Main</th>
                <th></th>
                <th class="hidden-md-down"></th>
                <th class="text-right"><i class="fa fa-minus-circle toggle-topic"></i></th>
            </tr>
            </thead>

            <tbody>

            <tr>
                <td class="col-md-4">
                    <div class="media">
                        <div class="media-left media-middle">
                            <i class="fa fa-comment-o fa-2x"></i>
                        </div>

                        <div class="media-body">
                            <h4 class="media-heading">Media heading1 <!-- Message Title --></h4>
                            <!--Message body-->
                            Media booody boood6y

                            <br> <em>Moderator: asdj</em>
                        </div>
                    </div>
                </td>

                <td><i class="fa fa-rss"></i></td>
                <td>
                    6
                    <span class="text-muted">topics</span>
                    <br>42
                    <span class="text-muted">messages</span>
                </td>

                <td class="col-md-5 hidden-md-down">

                    <div class="media">
                        <div class="media-left">
                            <a href="#"><img src="http://gramziu.pl/phpBB/download/file.php?avatar=2_1424820906.png" alt="" class="img-rounded"></a>
                        </div>
                        <div class="media-body">
                            Re: Popular topic<br>
                            <span class="text-muted">by: </span>User <br>
                            07 Dec 2015, 20:03
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <div class="media">
                        <div class="media-left media-middle">
                            <i class="fa fa-comment-o fa-2x"></i>
                        </div>

                        <div class="media-body">
                            <h4 class="media-heading">Media heading1 <!-- Message Title --></h4>
                            <!--Message body-->
                            Media booody boood6y

                            <br> <em>Moderator: asdj</em>
                        </div>
                    </div>
                </td>

                <td><i class="fa fa-rss"></i></td>
                <td>
                    6
                    <span class="text-muted">topics</span>
                    <br>42
                    <span class="text-muted">messages</span>
                </td>

                <td class="col-md-5 hidden-md-down">

                    <div class="media">
                        <div class="media-left">
                            <a href="#"><img src="http://gramziu.pl/phpBB/download/file.php?avatar=2_1424820906.png" alt="" class="img-rounded"></a>
                        </div>
                        <div class="media-body">
                            Re: Popular topic<br>
                            <span class="text-muted">by: </span>User <br>
                            07 Dec 2015, 20:03
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <div class="media">
                        <div class="media-left media-middle">
                            <i class="fa fa-comment-o fa-2x"></i>
                        </div>

                        <div class="media-body">
                            <h4 class="media-heading">Media heading1 <!-- Message Title --></h4>
                            <!--Message body-->
                            Media booody boood6y

                            <br> <em>Moderator: asdj</em>
                        </div>
                    </div>
                </td>

                <td><i class="fa fa-rss"></i></td>
                <td>
                    6
                    <span class="text-muted">topics</span>
                    <br>42
                    <span class="text-muted">messages</span>
                </td>

                <td class="col-md-5 hidden-md-down">

                    <div class="media">
                        <div class="media-left">
                            <a href="#"><img src="http://gramziu.pl/phpBB/download/file.php?avatar=2_1424820906.png" alt="" class="img-rounded"></a>
                        </div>
                        <div class="media-body">
                            Re: Popular topic<br>
                            <span class="text-muted">by: </span>User <br>
                            07 Dec 2015, 20:03
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <div class="media">
                        <div class="media-left media-middle">
                            <i class="fa fa-comment-o fa-2x"></i>
                        </div>

                        <div class="media-body">
                            <h4 class="media-heading">Media heading1 <!-- Message Title --></h4>
                            <!--Message body-->
                            Media booody boood6y

                            <br> <em>Moderator: asdj</em>
                        </div>
                    </div>
                </td>

                <td><i class="fa fa-rss"></i></td>
                <td>
                    6
                    <span class="text-muted">topics</span>
                    <br>42
                    <span class="text-muted">messages</span>
                </td>

                <td class="col-md-5 hidden-md-down">

                    <div class="media">
                        <div class="media-left">
                            <a href="#"><img src="http://gramziu.pl/phpBB/download/file.php?avatar=2_1424820906.png" alt="" class="img-rounded"></a>
                        </div>
                        <div class="media-body">
                            Re: Popular topic<br>
                            <span class="text-muted">by: </span>User <br>
                            07 Dec 2015, 20:03
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row" >

    <div class="col-md-8 col-md-offset-1" >
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Main</th>
                <th></th>
                <th class="hidden-md-down"></th>
                <th class="text-right"><i class="fa fa-minus-circle toggle-topic"></i></th>
            </tr>
            </thead>

            <tbody>

            <tr>
                <td class="col-md-4">
                    <div class="media">
                        <div class="media-left media-middle">
                            <i class="fa fa-comment-o fa-2x"></i>
                        </div>

                        <div class="media-body">
                            <h4 class="media-heading">Media heading1 <!-- Message Title --></h4>
                            <!--Message body-->
                            Media booody boood6y

                            <br> <em>Moderator: asdj</em>
                        </div>
                    </div>
                </td>

                <td><i class="fa fa-rss"></i></td>
                <td>
                    6
                    <span class="text-muted">topics</span>
                    <br>42
                    <span class="text-muted">messages</span>
                </td>

                <td class="col-md-5 hidden-md-down">

                    <div class="media">
                        <div class="media-left">
                            <a href="#"><img src="http://gramziu.pl/phpBB/download/file.php?avatar=2_1424820906.png" alt="" class="img-rounded"></a>
                        </div>
                        <div class="media-body">
                            Re: Popular topic<br>
                            <span class="text-muted">by: </span>User <br>
                            07 Dec 2015, 20:03
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <div class="media">
                        <div class="media-left media-middle">
                            <i class="fa fa-comment-o fa-2x"></i>
                        </div>

                        <div class="media-body">
                            <h4 class="media-heading">Media heading1 <!-- Message Title --></h4>
                            <!--Message body-->
                            Media booody boood6y

                            <br> <em>Moderator: asdj</em>
                        </div>
                    </div>
                </td>

                <td><i class="fa fa-rss"></i></td>
                <td>
                    6
                    <span class="text-muted">topics</span>
                    <br>42
                    <span class="text-muted">messages</span>
                </td>

                <td class="col-md-5 hidden-md-down">

                    <div class="media">
                        <div class="media-left">
                            <a href="#"><img src="http://gramziu.pl/phpBB/download/file.php?avatar=2_1424820906.png" alt="" class="img-rounded"></a>
                        </div>
                        <div class="media-body">
                            Re: Popular topic<br>
                            <span class="text-muted">by: </span>User <br>
                            07 Dec 2015, 20:03
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <div class="media">
                        <div class="media-left media-middle">
                            <i class="fa fa-comment-o fa-2x"></i>
                        </div>

                        <div class="media-body">
                            <h4 class="media-heading">Media heading1 <!-- Message Title --></h4>
                            <!--Message body-->
                            Media booody boood6y

                            <br> <em>Moderator: asdj</em>
                        </div>
                    </div>
                </td>

                <td><i class="fa fa-rss"></i></td>
                <td>
                    6
                    <span class="text-muted">topics</span>
                    <br>42
                    <span class="text-muted">messages</span>
                </td>

                <td class="col-md-5 hidden-md-down">

                    <div class="media">
                        <div class="media-left">
                            <a href="#"><img src="http://gramziu.pl/phpBB/download/file.php?avatar=2_1424820906.png" alt="" class="img-rounded"></a>
                        </div>
                        <div class="media-body">
                            Re: Popular topic<br>
                            <span class="text-muted">by: </span>User <br>
                            07 Dec 2015, 20:03
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <div class="media">
                        <div class="media-left media-middle">
                            <i class="fa fa-comment-o fa-2x"></i>
                        </div>

                        <div class="media-body">
                            <h4 class="media-heading">Media heading1 <!-- Message Title --></h4>
                            <!--Message body-->
                            Media booody boood6y

                            <br> <em>Moderator: asdj</em>
                        </div>
                    </div>
                </td>

                <td><i class="fa fa-rss"></i></td>
                <td>
                    6
                    <span class="text-muted">topics</span>
                    <br>42
                    <span class="text-muted">messages</span>
                </td>

                <td class="col-md-5 hidden-md-down">

                    <div class="media">
                        <div class="media-left">
                            <a href="#"><img src="http://gramziu.pl/phpBB/download/file.php?avatar=2_1424820906.png" alt="" class="img-rounded"></a>
                        </div>
                        <div class="media-body">
                            Re: Popular topic<br>
                            <span class="text-muted">by: </span>User <br>
                            07 Dec 2015, 20:03
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row" >

    <div class="col-md-8 col-md-offset-1" >
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Main</th>
                <th></th>
                <th class="hidden-md-down"></th>
                <th class="text-right"><i class="fa fa-minus-circle toggle-topic"></i></th>
            </tr>
            </thead>

            <tbody>

            <tr>
                <td class="col-md-4">
                    <div class="media">
                        <div class="media-left media-middle">
                            <i class="fa fa-comment-o fa-2x"></i>
                        </div>

                        <div class="media-body">
                            <h4 class="media-heading">Media heading1 <!-- Message Title --></h4>
                            <!--Message body-->
                            Media booody boood6y

                            <br> <em>Moderator: asdj</em>
                        </div>
                    </div>
                </td>

                <td><i class="fa fa-rss"></i></td>
                <td>
                    6
                    <span class="text-muted">topics</span>
                    <br>42
                    <span class="text-muted">messages</span>
                </td>

                <td class="col-md-5 hidden-md-down">

                    <div class="media">
                        <div class="media-left">
                            <a href="#"><img src="http://gramziu.pl/phpBB/download/file.php?avatar=2_1424820906.png" alt="" class="img-rounded"></a>
                        </div>
                        <div class="media-body">
                            Re: Popular topic<br>
                            <span class="text-muted">by: </span>User <br>
                            07 Dec 2015, 20:03
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <div class="media">
                        <div class="media-left media-middle">
                            <i class="fa fa-comment-o fa-2x"></i>
                        </div>

                        <div class="media-body">
                            <h4 class="media-heading">Media heading1 <!-- Message Title --></h4>
                            <!--Message body-->
                            Media booody boood6y

                            <br> <em>Moderator: asdj</em>
                        </div>
                    </div>
                </td>

                <td><i class="fa fa-rss"></i></td>
                <td>
                    6
                    <span class="text-muted">topics</span>
                    <br>42
                    <span class="text-muted">messages</span>
                </td>

                <td class="col-md-5 hidden-md-down">

                    <div class="media">
                        <div class="media-left">
                            <a href="#"><img src="http://gramziu.pl/phpBB/download/file.php?avatar=2_1424820906.png" alt="" class="img-rounded"></a>
                        </div>
                        <div class="media-body">
                            Re: Popular topic<br>
                            <span class="text-muted">by: </span>User <br>
                            07 Dec 2015, 20:03
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <div class="media">
                        <div class="media-left media-middle">
                            <i class="fa fa-comment-o fa-2x"></i>
                        </div>

                        <div class="media-body">
                            <h4 class="media-heading">Media heading1 <!-- Message Title --></h4>
                            <!--Message body-->
                            Media booody boood6y

                            <br> <em>Moderator: asdj</em>
                        </div>
                    </div>
                </td>

                <td><i class="fa fa-rss"></i></td>
                <td>
                    6
                    <span class="text-muted">topics</span>
                    <br>42
                    <span class="text-muted">messages</span>
                </td>

                <td class="col-md-5 hidden-md-down">

                    <div class="media">
                        <div class="media-left">
                            <a href="#"><img src="http://gramziu.pl/phpBB/download/file.php?avatar=2_1424820906.png" alt="" class="img-rounded"></a>
                        </div>
                        <div class="media-body">
                            Re: Popular topic<br>
                            <span class="text-muted">by: </span>User <br>
                            07 Dec 2015, 20:03
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <div class="media">
                        <div class="media-left media-middle">
                            <i class="fa fa-comment-o fa-2x"></i>
                        </div>

                        <div class="media-body">
                            <h4 class="media-heading">Media heading1 <!-- Message Title --></h4>
                            <!--Message body-->
                            Media booody boood6y

                            <br> <em>Moderator: asdj</em>
                        </div>
                    </div>
                </td>

                <td><i class="fa fa-rss"></i></td>
                <td>
                    6
                    <span class="text-muted">topics</span>
                    <br>42
                    <span class="text-muted">messages</span>
                </td>

                <td class="col-md-5 hidden-md-down">

                    <div class="media">
                        <div class="media-left">
                            <a href="#"><img src="http://gramziu.pl/phpBB/download/file.php?avatar=2_1424820906.png" alt="" class="img-rounded"></a>
                        </div>
                        <div class="media-body">
                            Re: Popular topic<br>
                            <span class="text-muted">by: </span>User <br>
                            07 Dec 2015, 20:03
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

<a id="back-to-top" href="#" style="display: none">
    <i class="fa fa-angle-up"></i>
</a>

<div id="footer">
    {% block footer %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-4">
                Who is online <br>
                In total there are 6 users online :: 1 registered, 0 hidden and 5 guests <br>
                based on users active over the past 5 minutes <br>
                Most users ever online was 26 on 25 Dec 2015, 08:29 <br>
                Registered users: Bing [Bot]<br>
                Legend: Administrators, Global moderators, Bots, Registered users
            </div>

            <div class="col-md-4">
                Important links
                <ul>
                    <li>Frequently Asked Questions</li>
                    <li>BBCode Examples</li>
                    <li>Empty Link</li>
                    <li>Creating an account</li>
                </ul>
            </div>

            <div class="col-md-4">
                About us <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>

            <hr>

        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
            <hr style="border-color: #DBDBDB;">

            <div class="col-md-3">Total posts <br> 90</div>
            <div class="col-md-3">Total topics <br> 22</div>
            <div class="col-md-3">Total members <br> 64</div>
            <div class="col-md-3">Our newest member <br> <strong>cyusuf</strong></div>

        </div>
    </div>
    {% endblock %}
</div>

<div id="sub-footer">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-3">
                Powered by Python Django Forum Software &copy;
            </div>
        </div>
    </div>
</div>

</body>
</html>