{% extends 'landing/deep_base.html' %}
{% load bootstrap %}

{% block subheader %}
Личное сообщение
{% endblock %}

{% block infopanel %}
{% endblock %}


{% block page_content %}
    <div class="container">

        {% for message in history %}
        {% if user == message.sender %}
            <span class="text-left">{{ message.message|linebreaks }}</span>
        {% else %}
            <span class="text-right">{{ message.message|linebreaks }}</span>
        {% endif %}
    {% endfor %}
        <div class="form-group">
            <form method="post">
                {% csrf_token %}
                {{ form|bootstrap }}
                <input type="submit" class="btn btn-primary btn-block" value="Написать"/>
            </form>
        </div>
    </div>

{% endblock %}