{% load  staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <script src="{% static 'js/jquery.js' %}"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <script src="{% static 'js/landing.js' %}"></script>

    {% block html_head %}
    {% endblock %}

</head>
<body>

<div id="header" class="navbar-fixed-top">
    <div class="container">

        <ol class="list-inline pull-left">
          <li>
              <a href="{% url 'index' %}"><i class="fa fa-home"> Домой</i></a>
              {% block breadcrumb %}
              {% endblock %}
          </li>
        </ol>

        <ol id="myNavbar" class="list-inline pull-right">
            <li class="list-inline-item hidden-xs"><a href="/obshchaia-informatsiia-o-forumecc68c/1/">FAQ</a></li>
            <li class="list-inline-item  hidden-xs"><a href="#"><i class="fa fa-search"></i></a></li>

            {% if user.is_authenticated %}
                <li class="list-inline-item "><a href="{% url 'self_account' %}">{{ user.username }}</a>

                {% if new_incoming.count  %}
                   <i id="blink" class="fa fa-envelope" style="color: black;"></i>
                {% endif %}

                </li>
                <li class="list-inline-item"><a href="{% url 'logout' %}"><i class="fa fa-sign-out"> Выйти</i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fa fa-bars"></i></a></li>
            {% else %}
                 <li class="list-inline-item"><a id="popup" href="{% url 'login' %}"><i class="fa fa-sign-in"> Войти</i></a></li>
                 <li class="list-inline-item"><a href="{% url 'register' %}">Зарегестрироваться</a></li>
            {% endif %}

        </ol>
    </div>
</div>


{% if messages %}
<div class="message-alert col-md-8 col-md-offset-2 text-center">
    {% for message in messages %}
            <a href="#" class="close {{ message.tags }}" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}
    {% endfor %}
</div>
{% else %}
    <span class="close none" style="display: none"></span>
{% endif %}

{% block content %}
    <div id="site-desc-full">
        <div id="page-description" class="text-md-center">
                <h1>Itea Forum Project</h1>
                <h6>communicate with no limits</h6>
        </div>
    </div>
    <div class="row" >

        <div class="container" >
            {% for section in sections %}
            <table class="table table-hover">
                <thead>
                <tr>
                             <th colspan="6"  class="text-center"  style="border-bottom: none"><a href="{{ section.slug }}">{{ section.name }}</a></th>

                </tr>
                <tr>
                    <th>Состояние</th>
{#                    <th><a href="{{ section.slug }}">{{ section.name }}</a></th>#}
                    <th>Тема</th>
                    <th>rss</th>
                    <th class="hidden-md-down text-center">Всего сообщений</th>
                    <th class="text-center">Автор</th>
                    <th class="text-center hidden-xs hidden-sm">Последнее сообщение <i class="fa fa-minus-circle toggle-topic pull-right"></i></th>
                </tr>
                </thead>

                <tbody>
                {% for topic in section.last_five %}
                    <tr>
                        <td class="col-md-1 text-center">
                            <i class="{{ topic.topic_icon }}"></i>
                        </td>

                        <td class="col-md-6">
                            <h4>
                                {% if topic.message_set.count >= 10 %}
                                    <i data-toggle="tooltip" data-placement="bottom" title="Hot" class="fa fa-fire" style="color: red; cursor: help"></i>
                                {% endif %}

                                <a href="{{ topic.get_absolute_url }}">{{ topic.name }} </a>
                            </h4>
                            <small>{{ topic.short_description }}</small>
                        </td>

                        <td><i class="fa fa-rss"></i></td>

                        <td class="text-center">{{ topic.message_set.count }}</td>

                        <td class="text-center">
                            Автор: <a href="{% url 'account' username=topic.author %}">{{ topic.author }}</a>
                            <br>
                            <small><i class="fa fa-clock-o"></i> {{ topic.date }}</small>
                        </td>

                        {% if topic.message_set.count  %}
                            <td class="hidden-xs hidden-sm text-center">
                                Автор: <a href="{% url 'account' username=topic.message_set.last.author %}">{{ topic.message_set.last.author }}</a>
                                <br>
                                <small><i class="fa fa-clock-o"></i> {{ topic.message_set.last.date }}</small>
                            </td>
                        {% else %}
                            <td class="hidden-xs hidden-sm text-center">Нет сообщений</td>
                        {% endif %}

                    </tr>

                {% endfor %}
                </tbody>
            </table>
            {% endfor %}
        </div>
    </div>
{% endblock content %}

    <form id="popup-login" class="form-signin" method="post" action="{% url 'login' %}">
        <h2 class="form-signin-heading">Пожалуйста, введите логин и пароль</h2>
        {% csrf_token %}

        <div class="form-group">
            <label class="control-label  " for="id_username">Имя пользователя</label>
            <div class=" ">
                <input class=" form-control" id="id_username" maxlength="254" name="username" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label  " for="id_password">Пароль</label>
            <div class=" ">
                <input class=" form-control" id="id_password" name="password" type="password">
            </div>
        </div>

        <div class="form-group">
            <button style="margin-top: 15px" class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
        </div>
    </form>

{% include 'landing/back_to_top_btn.html' %}
{#{% include 'landing/footer.html' %}#}

</body>
</html>