    <div id="footer">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-4">
                    Who is online <br>
                    In total there are 6 users online :: 1 registered, 0 hidden and 5 guests <br>
                    based on users active over the past 5 minutes <br>
                    Most users ever online was 26 on 25 Dec 2015, 08:29 <br>
                    Registered users: Bing [Bot]<br>
                    Legend: Administrators, Global moderators, Bots, Registered users
                </div>

                <div class="col-md-4">
                    Important links
                    <ul>
                        <li>Frequently Asked Questions</li>
                        <li>BBCode Examples</li>
                        <li>Empty Link</li>
                        <li>Creating an account</li>
                    </ul>
                </div>

                <div class="col-md-4">
                    About us <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>

                <hr>

            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <hr style="border-color: #DBDBDB;">

                <div class="col-md-3">Total posts <br> 90</div>
                <div class="col-md-3">Total topics <br> 22</div>
                <div class="col-md-3">Total members <br> 64</div>
                <div class="col-md-3">Our newest member <br> <strong>cyusuf</strong></div>

            </div>
        </div>
    </div>
    <div id="sub-footer">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-3">
                Powered by Python Django Forum Software &copy;
            </div>
        </div>
    </div>
</div>